<%- include('header') -%>

<header class="header">
  <h1 class="header__title">Undirskriftarlisti - umsjón</h1>
</header>
<p>Innskráður sem: <strong><%= user.username %></strong></p>
<p><a href="/admin/logout">Útskrá</a></p>

<%- include('list') -%>

<%- include('footer') -%>
