<%- include('header') -%>

<header class="header">
  <h1 class="header__title"><%= title %></h1>
  <p class="header__subtitle"><%= error %></p>
  <p class="error__text" style="text-align: center; margin-top: 1rem;"><a href="/">Til baka</a></p>
</header>

<%- include('footer') %>
